<div class="modal-header">
  <h3 class="modal-title">Загрузка файлов</h3>
</div>
<div class="modal-body advanced-modal">
  <p class="text-center">Выберите каналы, которые необходимо загрузить.</p>
  <div class="row band-selection">
    <div class="col-md-6 band-options">
      <div><input type="checkbox" name="band" id="band-1" value="band-1"><label for="band-1">B1 - Атмосфера (аэрозоли)</label></div>
      <div><input type="checkbox" name="band" id="band-2" value="band-2"><label for="band-2">B2 - Синий</label></div>
      <div><input type="checkbox" name="band" id="band-3" value="band-3"><label for="band-3">B3 - Зеленый</label></div>
      <div><input type="checkbox" name="band" id="band-4" value="band-4"><label for="band-4">B4 - Красный</label></div>
      <div><input type="checkbox" name="band" id="band-5" value="band-5"><label for="band-5">B5 - Ближний инфракрасный</label></div>
      <div><input type="checkbox" name="band" id="band-6" value="band-6"><label for="band-6">B6 - Коротковолновый инфр-ый 1</label></div>
    </div>
    <div class="col-md-6 band-options">
      <div><input type="checkbox" name="band" id="band-7" value="band-7"><label for="band-7">B7 - Коротковолновый инфр-ый 2</label></div>
      <div><input type="checkbox" name="band" id="band-8" value="band-8"><label for="band-8">B8 - Панхроматический</label></div>
      <div><input type="checkbox" name="band" id="band-9" value="band-9"><label for="band-9">B9 - Облака</label></div>
      <div><input type="checkbox" name="band" id="band-10" value="band-10"><label for="band-10">B10 - Тепловой инфракрасный 1</label></div>
      <div><input type="checkbox" name="band" id="band-11" value="band-11"><label for="band-11">B11 - Тепловой инфракрасный 2</label></div>
      <div><input type="checkbox" name="band" id="band-QA" value="band-QA"><label for="band-QA">BQA - Оценка качества</label></div>
    </div>
  </div>
  <hr>
  <div class="download-prefills">
    <ul>
      <li ng-click="bandPrefill([4,3,2])"><div><p>Естественные цвета: 4,3,2</p></div><div><img src="images/truecolor.png" /></div></li>
      <li ng-click="bandPrefill([5,4])"><div><p>NDVI: 5,4</p></div><div><img src="images/ndvi.png" /></div></li>
      <li ng-click="bandPrefill([7,5,2])"><div><p>Урбанистические цвета: 7,5,2</p></div><div><img src="images/urban.png" /></div></li>
    </ul>
  </div>
  <hr>
  <div class="download-individual">
    <a id="download-bands" class="btn btn-primary" ng-bind-template="Скачать каналы (файлы)" ng-click="downloadBands()"></a>
  </div>
</div>
