<div class="modal-header">
  <h3 class="modal-title">LIBRA. Описание</h3>
</div>
<div class="modal-body">
  <p><b>Libra </b>- инструмент для просмотра, сортировки и загрузки снимков спутника Landsat-8.</p>
  <p>Каждый круг на карте показывает число доступных сцен в данной области. Фильтры в шапке страницы могут быть использованы для выбора нового диапазона даты, облачного покрытия и угла азимута солнца.</p>
  <p>После того, как загрузите необходимые снимки, посмотрите на инструмент <a href="https://github.com/developmentseed/landsat-util"
      target="_blank">Landsat-util</a> для <a href="http://www.developmentseed.org/blog/2014/08/29/landsat-util/"
      target="_blank">обработки изображений</a> и подготовки их к публикации и анализу</a>.</p>
  <p>Поисковые возможности основаны на сервисе <a href="https://github.com/sat-utils/sat-api" target="_blank">Sat API</a>, в качестве основного хранилища используется
    <a href="http://earthexplorer.usgs.gov/" target="_blank">USGS Earth Explorer</a>. Загрузка снимков доступна благодаря
    USGS, <a href="https://earthengine.google.org/#intro" target="_blank">Google Earth Engine</a>, и <a
      href="http://aws.amazon.com/public-data-sets/landsat/" target="_blank">Amazon Web Services</a>. Иконки предоставлены
    Laurent Patain, Arthur Shlain, NAS, и iconsmind.com <a href="https://creativecommons.org/licenses/by/3.0/"
      target="_blank">CC by 3.0</a></p>
  <p>Внести свой вклад в проект можно на <a href="https://github.com/NosyParker/libra" target="_blank">Github</a></p>
  <p>Разработчики и участники:</p>
  <div class="logos">
    <a href="http://www.developmentseed.org/" target="_blank"><img src="images/logo_horizontal_white.png" /></a><a href="http://astrodigital.com/" target="_blank"><img src="images/astrodigital.png" /></a><a href="https://www.ugatu.su/" target="_blank"><img src="images/ugatu_logo.png">
    </a>
  </div>
</div>
